<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <style th:replace="fragments/style"></style>
</head>
<body>
<nav th:replace="fragments/header :: header"></nav>
<div class="container-fluid" style="margin-top: 50px">
    <div class="panel panel-primary">
        <div class="panel panel-heading text-center">
            <h4><b><span th:text="${addStatus==true?'New Purches Order Add':'Update Purches Order '}"></span></b></h4>
        </div>
        <div class="panel-body">
            <!--Page Header Content-->
            <div class="row">
                <div class="col-sm-4 ">
                    <a class="btn btn-primary" href="/home"> Return Home</a>
                </div>
                <div class="col-sm-4" style="text-align: center;">
                    <h4 class="text-info"></h4>
                </div>
                <div class="col-sm-4 text-right">
                    <a href="/purchaseOrder">
                        <button class="btn btn-sm btn-primary"><span
                                class="glyphicon glyphicon-list">&nbsp; View List </span></button>
                    </a>
                </div>
            </div>
            <!--search content-->
            <div class="container-fluid" th:if="${searchArea==true}">
                <div class="col-sm-offset-2">
                    <div class="row">
                        <form action="/purchaseOrder/findBySupplier" class="form-horizontal" method="post">
                            <div class="col-md-4 form-group">
                                <label for="supp">Select Parameter:</label>
                                <select class="form-control" id="supp">
                                    <option value=""> Please Select</option>
                                    <option value="name">Name</option>
                                    <option value="code">Code</option>
                                </select>
                            </div>
                            <div class="col-md-1"></div>
                            <div class=" col-md-6 form-group text-left">
                                <label class="" for="criteria">Value :</label>
                                <input class="form-control" id="criteria" placeholder="Enter Search Value Here"
                                       type="text"/>
                            </div>
                            <div class="text-center col-md-1 form-group">
                                <br>
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--Multiple suppliers-->
            <div class="container" th:if="${multipleSupplier==true}" style="margin-top: 5px;">
                <div class="table-responsive">
                    <table class="table table-striped table-condensed text-center" id="myTable">
                        <thead>
                        <tr>
                            <th>Index</th>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Land Number</th>
                            <th>Address</th>
                            <th>Contact Person</th>
                            <th>Mobile</th>
                            <th>Contact Person EMail</th>
                            <th class="text-center">Modify</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="supplier, rowCount : ${suppliers}">
                            <th th:text="${rowCount.count}"></th>
                            <th th:text="${supplier.code}"></th>
                            <th th:text="${supplier.name}"></th>
                            <th th:text="${supplier.email}"></th>
                            <th th:text="${supplier.land}"></th>
                            <th th:text="${supplier.address}"></th>
                            <th th:text="${supplier.contactName}"></th>
                            <th th:text="${supplier.contactMobile}"></th>
                            <th th:text="${supplier.contactEmail}"></th>
                            <th>
                                <form action="/purchaseOrder/findBySupplier" method="post">
                                    <input type="hidden" th:name="${'id'}" th:value="${supplier.id}">
                                    <button type="submit" class="btn btn-sm btn-primary">Select</button>
                                </form>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--Add form content-->
            <div class="container-fluid" th:if="${searchArea==false}">
                <div class="row">
                    <form class="form-horizontal"
                          th:action="${addStatus==true?'/purchaseOrder/add':'/purchaseOrder/update'}"
                          th:method="POST" th:object="${purchaseOrder}">
                        <label th:if="${#fields.hasErrors('*')}" th:text="'Errors: '">Errors: </label>
                        <ul>
                            <li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
                        </ul>
                        <div th:if="${addStatus==true}" class="row text-center bg-primary">
                            <h3 th:text="${supplier.name}"></h3>
                            <input type="hidden" th:name="${'supplier'}" th:value="${supplier.id}">
                        </div>
                        <div th:if="${addStatus==false}" class="row text-center bg-info" style="margin: auto; width: 90%; border-radius: 10px;">
                            <h3 th:text="${purchaseOrder.supplier.name}"></h3>
                            <input type="hidden" th:field="*{supplier}">
                        </div>
                        <!--Form Start-->
                        <div class="row text-left" th:if="${addStatus==false}">
                            <br>
                            <div class="col-sm-6">
                                <div class="form-group ">
                                    <label class="control-label col-md-4" for="id">ID :</label>
                                    <div class="col-md-8">
                                        <input class="form-control" id="id" placeholder="Enter ID Here"
                                               th:field="*{id}" type="text" readonly/>
                                        <span class="error" th:errors="*{id}"
                                              th:if="${#fields.hasErrors('id')}">Error Number</span>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label col-md-4" for="code">Code :</label>
                                    <div class="col-md-8">
                                        <input class="form-control" id="code" placeholder="Enter Code Here"
                                               th:field="*{code}" type="text"/>
                                        <span class="error" th:errors="*{code}"
                                              th:if="${#fields.hasErrors('code')}">Error Number</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Amount Calculation and Delete Unwanted Rows from the Item table-->
                        <script>
                            function calculateAmount() {
                                let quantity = [];
                                let cost = [];
                                let amounts = [];
                                let t = 0.0;

                                let qty = document.querySelectorAll("#qty");
                                let cst = document.querySelectorAll(".cost");
                                let amnt = document.querySelectorAll("#amount");

                                for (let i = 0; i < qty.length; i++) {
                                    quantity.push(parseFloat(qty[i].value));
                                }
                                for (let r = 0; r < cst.length; r++) {
                                    cost.push(parseFloat(cst[r].textContent));
                                }
                                for (let n = 0; n < qty.length; n++) {
                                    amnt[n].value = quantity[n] * cost[n];
                                    if (!isNaN(amnt[n].value)){
                                        amounts.push(parseFloat(amnt[n].value));
                                    }else{
                                        amnt[n].value = 0.0;
                                        amounts.push(parseFloat(amnt[n].value));
                                    }
                                }
                                for (let m = 0; m < amounts.length; m++) {
                                    t = t + amounts[m];
                                }
                                document.getElementById("total").value = t.toFixed(2);
                            }

                            function deleteRows(r) {
                                let i = r.parentNode.parentNode.rowIndex;
                                document.getElementById("table_items").deleteRow(i);
                                calculateAmount();
                            }
                        </script>
                        <!--End of script-->
                        <div class="row">
                            <div class="table-responsive" style="margin: auto; width: 90%;">
                                <table class="table table-striped table-condensed text-center" id="table_items">
                                    <thead>
                                    <tr>
                                        <th>Index</th>
                                        <th style=" width: 20%">Item</th>
                                        <th>Available Qty.</th>
                                        <th>Reorder Limit</th>
                                        <th style=" width: 10%">Requested Qty.</th>
                                        <th>Item Cost</th>
                                        <th style=" width: 15%">Amount</th>
                                        <th class="text-center">Modify</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="item, rowCount : ${purchaseOrder.itemQuantity}">
                                        <th th:text="${rowCount.count}">
                                        <th th:text="${item.item.description}"></th>
                                        <th class="text-center" th:text="${item.item.soh}"></th>
                                        <th class="text-center" th:text="${item.item.reorderLimit}"></th>
                                        <th><input type="hidden"
                                                   th:field="*{itemQuantity[__${rowCount.index}__].item}"
                                                   th:value="${item.item}">
                                            <input type="number" min="1" class="form-control" id="qty" onkeyup="calculateAmount()"
                                                   th:field="*{itemQuantity[__${rowCount.index}__].quantity}"></th>
                                        <th><span class="cost" th:text="${item.item.cost}"></span></th>
                                        <th><input type="number" step=".01" class="form-control" id="amount"
                                                   th:field="*{itemQuantity[__${rowCount.index}__].amount}" readonly>
                                        </th>
                                        <th><a class="btn btn-danger" onclick="deleteRows(this)"><i
                                                aria-hidden="true" class="fa fa-trash-o"></i>
                                            Delete</a></th>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th colspan="6" class="text-right"><label class="control-label text-capitalize">Total
                                            :</label></th>
                                        <th><input type="text" id="total" class="form-control" th:field="*{total}"
                                                   readonly></th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4" for="expectedDate">Expected Date :</label>
                                    <div class="col-md-8">
                                        <input class="form-control" id="expectedDate" placeholder="Enter ID Here"
                                               th:field="*{expectedDate}" type="date" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" th:if="${addStatus == false}">
                                    <label class="control-label col-md-4" for="poS">PO Status</label>
                                    <div class="col-md-4">
                                        <select class="form-control" id="poS" th:field="*{purchaseOrderStatus}">
                                            <option th:each="p : ${purchaseOrderStatus}"
                                                    th:text="${p.purchaseOrderStatus}"
                                                    th:value="${p}"
                                                    th:field="*{purchaseOrderStatus}"
                                            ></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                <div class="form-group text-left">
                                    <label class="control-label col-md-4" for="remarks">Remarks :</label>
                                    <div class="col-md-8">
                                        <input class="form-control" id="remarks" placeholder="Enter Remarks Here"
                                               th:field="*{remarks}" type="text"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center row">
                            <button class="btn btn-success" type="submit"><span
                                    class="glyphicon glyphicon-thumbs-up"></span>&nbsp; &nbsp;<span
                                    th:text="${addStatus==true?'Save': 'Update'}"></span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="page-footer" th:replace="fragments/footer"></footer>
<script th:replace="fragments/script"></script>
</body>
</html>
<!--
PurchaseOrder(id=null,
code=null,
purchaseOrderStatus=null,
createdDate=null,
expectedDate=null,
updatedDate=null,
remarks=null,
itemQuantity=[
lk.excellent.pharamacy_management.asset.process.purchaseOrder.entity.ItemQuantity@324c9afe,
lk.excellent.pharamacy_management.asset.process.purchaseOrder.entity.ItemQuantity@324c9afe,
lk.excellent.pharamacy_management.asset.process.purchaseOrder.entity.ItemQuantity@324c9afe,
lk.excellent.pharamacy_management.asset.process.purchaseOrder.entity.ItemQuantity@324c9afe],
goodReceivingManagements=null)-->
