<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <style th:replace="fragments/style"></style>
</head>
<body>
<nav th:replace="fragments/header :: header"></nav>
<div class="container-fluid" style="margin-top: 50px">
    <div class="panel panel-primary">
        <div class="panel panel-heading text-center">
            <h4><b><span th:text="${addStatus==true?'Add New Invoice':'Update Invoice'}"></span></b></h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4 ">
                    <a class="btn btn-primary" href="/home"> Return Home</a>
                </div>
                <div class="col-sm-4" style="text-align: center;">
                    <h4 class="text-info"></h4>
                </div>
                <div class="col-sm-4 text-right">
                    <a href="/invoice">
                        <button class="btn btn-sm btn-primary"><span
                                class="glyphicon glyphicon-list">&nbsp; View List </span></button>
                    </a>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="container-fluid">
                    <form class="form-horizontal"
                          th:action="${addStatus==true?'/invoice/add':'/invoice/update'}"
                          th:method="POST" th:object="${invoice}">
                        <label th:if="${#fields.hasErrors('*')}" th:text="'Errors: '">Errors: </label>
                        <ul>
                            <li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
                        </ul>
                        <div class="col-sm-6 text-left">
                            <div class="form-group" th:if="${addStatus==false}">
                                <label class="control-label col-md-4" for="txtId">ID :</label>
                                <div class="col-md-8">
                                    <input class="form-control" id="txtId" name="id" placeholder="Enter ID Here"
                                           th:field="*{id}" type="text"/>
                                    <span class="error" th:errors="*{id}"
                                          th:if="${#fields.hasErrors('id')}">Error Number</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4" for="code">Code <span
                                        class="text-danger">*</span></label>
                                <div class="col-md-3">
                                    <input class="form-control" id="code" name="code" placeholder="Enter code"
                                           required th:value="${newInvoice}" type="text"/>
                                    <span class="error" th:errors="*{code}"
                                          th:if="${#fields.hasErrors('code')}">Error code</span>
                                </div>
                                <div class="col-sm-5 text-warning" th:if="${addStatus==true}">
                                    <label class="control-label ">Previous Code: <span
                                            th:text="${lastInvoice}"></span></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4" for="supplier">Supplier</label>
                                <div class="col-md-8">
                                    <select class="form-control" id="supplier" required>
                                        <option th:each="suppliers : ${supplier}"
                                                th:text="${suppliers.name}"
                                                th:value="${suppliers.id}"
                                        ></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">

                            <div>
                                <label class="control-label col-md-4" for="name">Item <span
                                        class="text-danger">*</span></label>

                            </div>
                        </div>
                        <!-- /.col-sm-6 -->
                        <div class="col-sm-6 text-left">
                            <div class="form-group">
                                <label class="control-label col-md-4" for="contactName">Contact Person Name</label>
                                <div class="col-md-8">
                                    <input class="form-control" id="contactName" name="contactName"
                                           placeholder="Enter Contact Person Name Here"
                                           th:field="*{contactName}" type="text"/>
                                    <span class="error" th:errors="*{contactName}"
                                          th:if="${#fields.hasErrors('contactName')}">Error Name</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4" for="contactEmail">Email</label>
                                <div class="col-md-8">
                                    <input class="form-control" id="contactEmail" name="contactEmail"
                                           placeholder="Enter Contact Person email Here"
                                           th:field="*{contactEmail}" type="text"/>
                                    <span class="error" th:errors="*{contactEmail}"
                                          th:if="${#fields.hasErrors('contactEmail')}">Error Email</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4" for="contactMobile"> Contact Person Mobile <span
                                        class="text-danger">*</span></label>
                                <div class="col-md-8">
                                    <input class="form-control" id="contactMobile" name="contactMobile"
                                           placeholder="Enter Contact Person Mobile Here"
                                           required th:field="*{contactMobile}" type="text"/>
                                    <span class="error" th:errors="*{contactMobile}"
                                          th:if="${#fields.hasErrors('contactMobile')}">Error Mobile Number</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4" for="items">Items:</label>
                                <div class="col-md-8">
                                    <select class="form-control" id="items" th:field="*{ids}" multiple required>
                                        <option th:each="item : ${items}"
                                                th:text="${item.description}"
                                                th:value="${item.id}"
                                        ></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="text-center row">
                            <button class="btn btn-success" type="submit"><span
                                    class="glyphicon glyphicon-thumbs-up"></span>&nbsp; &nbsp;<span
                                    th:text="${addStatus==true?'Save': 'Update'}"></span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="page-footer" th:replace="fragments/footer"></footer>
<script th:replace="fragments/script"></script>
</body>
</html>