<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <style th:replace="fragments/style"></style>
</head>
<body>
<nav th:replace="fragments/header :: header"></nav>
<div class="container-fluid" style="margin-top: 50px">
    <div class="panel panel-primary">
        <div class="panel panel-heading text-center">
            <h4><b><span th:text="${'Add New Invoice'}"></span></b></h4>
        </div>
        <div class="panel-body" style="background-color: #344e64">
            <div class="row">
                <div class="col-sm-4 ">
                    <a class="btn btn-primary" href="/home"> Return Home</a>
                </div>
                <div class="col-sm-4" style="text-align: center;">
                    <h4 class="text-info"></h4>
                </div>
                <div class="col-sm-4 text-right">
                    <a href="/invoice">
                        <button class="btn btn-primary"><span
                                class="glyphicon glyphicon-list">&nbsp; View List </span></button>
                    </a>
                </div>
            </div>
            <br>
            <!-- /.row -->

            <div class="row">
                <div class="container-fluid">
                    <form class="form-horizontal" th:action="${'/invoice/add'}" th:method="POST" th:object="${invoice}">
                        <!--Customer area-->
                        <div class="container-fluid">
                            <div class="container-fluid well well-sm">
                                <div class="col-sm-6 text-right">
                                    <button class="btn btn-success" id="btnNewCustomer" type="button">New Customer</button>
                                </div>
                                <div class="col-sm-6 text-left">
                                    <button class="btn btn-success" id="btnExistingCustomer" type="button">Existing Customer</button>
                                </div>
                            </div>
                            <!--Existing Customer-->
                            <div class="col-sm-12 well well-sm" id="existingCustomer">
                                <!--Search By Mobile number-->
                                <div class="container-fluid">
                                    <div class="col-sm-offset-2">
                                        <div class="form-group">
                                            <label class="control-label col-md-4" for="mobileValue">Search Value
                                                :</label>
                                            <div class="col-md-4">
                                                <input class="form-control" id="mobileValue"
                                                       placeholder="Enter Value Here"
                                                       type="text"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Search customer show-->
                                <div class="container-fluid table-responsive row" id="customerShow">
                                    <table class="table table-striped table-condensed text-center" id="customers">
                                        <thead>
                                        <tr>
                                            <th>Index</th>
                                            <th>Number</th>
                                            <th>Title</th>
                                            <th>Name</th>
                                            <th>NIC</th>
                                            <th>Date Of Birth</th>
                                            <th>Gender</th>
                                            <th>Email</th>
                                            <th>Mobile</th>
                                            <th>Land Number</th>
                                            <th>Modify</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- Customer Detail-->
                            <div class="col-sm-12 well well-sm" id="customerDetail" style="background-color: #5cb85c">
                                <div class="col-sm-6 text-left">
                                    <div class="form-group" id="customerIdShow">
                                        <label class="control-label col-md-4" for="id">ID :</label>
                                        <div class="col-md-8">
                                            <input class="form-control" id="id" name="customer.id"
                                                   placeholder="Enter ID Here"
                                                   type="text" readonly/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4" for="number">Number <span
                                                class="text-danger">*</span></label>
                                        <div class="col-md-3">
                                            <input class="form-control" id="number" name="customer.number"
                                                   placeholder="Enter Number" th:value="${newCustomer}"
                                                   required type="text"/>
                                        </div>
                                        <div class="col-sm-5 text-warning" id="newCustomer">
                                            <label class="control-label ">Previous Number: <span
                                                    th:text="${lastCustomer}"></span></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4" for="title">Title</label>
                                        <div class="col-md-4">
                                            <select class="form-control" id="title" name="customer.title">
                                                <option th:each="titles : ${title}"
                                                        th:text="${titles.title}"
                                                        th:value="${titles}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4" for="name">Full Name<span
                                                class="text-danger">*</span></label>
                                        <div class="col-md-8">
                                            <input class="form-control" id="name" name="customer.name"
                                                   placeholder="Enter Full Here" required type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4" for="nic">NIC<span
                                                class="text-danger">*</span></label>
                                        <div class="col-md-8">
                                            <input class="form-control" id="nic" name="customer.nic"
                                                   placeholder="Enter NIC Here"
                                                   required type="text"/>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col-sm-6 -->
                                <div class="col-sm-6 text-left">
                                    <div class="form-group">
                                        <label class="control-label col-md-4" for="dateOfBirth">Birth Date<span
                                                class="text-danger">*</span></label>
                                        <div class="col-md-8">
                                            <input class="form-control" id="dateOfBirth" name="customer.dateOfBirth"
                                                   placeholder="Ex: 1990 - 01 - 20"
                                                   required type="date"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4" th:for="gender">Gender</label>
                                        <div class="col-md-4">
                                            <select class="form-control" id="gender" name="customer.gender">
                                                <option th:each="genders : ${gender}"
                                                        th:text="${genders.gender}"
                                                        th:value="${genders}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4" for="email">Email</label>
                                        <div class="col-md-8">
                                            <input class="form-control" id="email" name="customer.email"
                                                   placeholder="Enter email Here"
                                                   type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4" for="mobile">Mobile <span
                                                class="text-danger">*</span></label>
                                        <div class="col-md-8">
                                            <input class="form-control" id="mobile" name="customer.mobile"
                                                   placeholder="Enter Mobile Here"
                                                   required type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4" for="land">Land Number</label>
                                        <div class="col-md-8">
                                            <input class="form-control" id="land" name="customer.land"
                                                   placeholder="Enter Land Here"
                                                   type="text"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Medicine area-->
                        <div class="col-sm-12 well well-sm">
                            <!--All medicine list-->
                            <div class="container-fluid" style="margin-top: 5px;">
                                <div class="table-responsive container">
                                    <table class="table table-striped table-condensed text-center" id="myTable">
                                        <thead>
                                        <tr>
                                            <th>Index</th>
                                            <th>Code</th>
                                            <th>Description</th>
                                            <th>Category</th>
                                            <th>Selling Price</th>
                                            <th>Modify</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="item, rowCount : ${items}">
                                            <th th:text="${rowCount.count}"></th>
                                            <th th:text="${item.code}"></th>
                                            <th th:text="${item.description}"></th>
                                            <th th:text="${item.category.category}"></th>
                                            <th th:text="${item.selling}"></th>
                                            <th>
                                                <button class="btn btn-sm btn-info" type="button" onClick="selectedItem(this)">Select</button>
                                            </th>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--Selected Medicine Display-->
                            <div class="container-fluid table-responsive row" id="medicineShow">
                                <table class="table table-striped table-condensed text-center" id="selectedItems">
                                    <thead>
                                    <tr>
                                        <th>Index</th>
                                        <th>Code</th>
                                        <th>Name</th>
                                        <th>Category</th>
                                        <th>Unit Price</th>
                                        <th>Frequency</th>
                                        <th>No.pills</th>
                                        <th>Duration (days.)</th>
                                        <th>Medicine Qty</th>
                                        <th>Price</th>
                                        <th>Remove</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--Finance area-->
                        <div class="col-sm-12 well well-sm">
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="control-label col-sm-6" for="totalPrice">Total
                                        Price :</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" id="totalPrice"
                                               name="totalPrice" readonly type="text"/>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="control-label col-sm-6"
                                           for="cmbDiscountRatio">Discount
                                        Ratio :</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" default="1"
                                                id="cmbDiscountRatio" name="discountRatio">
                                            <option selected="true" value="0">No Discount</option>
                                            <option th:each="discountRatio : ${discountRatios}"
                                                    th:text="${discountRatio.amount}"
                                                    th:value="${discountRatio.id}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="control-label col-sm-6"
                                           for="TotalAmount">Amount :</label>
                                    <div class="col-sm-6">
                                       <input class="form-control" id="TotalAmount"
                                               name="TotalAmount" readonly type="text"/>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="control-label col-sm-6" for="cmbPaymentMethod">Payment
                                        Method :</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" th:default="${'1'}"
                                                id="cmbPaymentMethod" name="paymentMethod">
                                            <option selected="true" disabled>Select a Payment Method</option>
                                            <option th:each="paymentMethod : ${paymentMethods}"
                                                    th:text="${paymentMethod.paymentMethod}"
                                                    th:value="${paymentMethod}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="cash">
                                <!--Amount tendered-->
                                <div class="form-group col-sm-6">
                                    <label class="control-label col-md-6"
                                           for="amountTendered">Amount
                                        Tendered
                                        (Rs.) :</label>
                                    <div class="col-md-6">
                                        <input autocomplete="off" class="form-control"
                                               id="amountTendered"
                                               name="amountTendered"
                                               placeholder="Enter Amount Here"
                                               type="text"/>
                                    </div>
                                </div>
                                <!--Balance-->
                                <div class="form-group col-sm-6">
                                    <label class="control-label col-md-6" for="balance">Balance
                                        (Rs.) : <span
                                                class="text-danger">*</span></label>
                                    <div class="col-md-6">
                                        <input class="form-control" id="balance"
                                               name="balance"
                                               readonly type="text"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="card">
                                <!--Bank-->
                                <div class="form-group col-sm-6">
                                    <label class="control-label col-sm-6" for="bankName">Bank :
                                        <span
                                                class="text-danger">*</span></label>
                                    <div class="col-sm-6">
                                        <input class="form-control" id="bankName"
                                               name="bankName"
                                               placeholder="Enter Bank Name Here" type="text"/>
                                    </div>
                                </div>
                                <!--Card number-->
                                <div class="form-group col-sm-6">
                                    <label class="control-label col-sm-6" for="cardNumber">Number :
                                        <span
                                                class="text-danger">*</span></label>
                                    <div class="col-sm-6">
                                        <input class="form-control" id="cardNumber"
                                               name="cardNumber"
                                               placeholder="Enter Number"
                                               type="text"/><span id="typedLength"></span> &nbsp;<span
                                            id="cardType"></span>
                                    </div>
                                </div>
                            </div>
<!--                            Finance remarks-->
                            <div class="row">
                                <div class="form-group">
                                    <label class="control-label col-sm-offset-1 col-sm-3"
                                           for="remarks">Remarks : </label>
                                    <div class="col-md-6">
                                        <input class="form-control" id="remarks"
                                               name="remarks"
                                               placeholder="Enter Anything Special" type="text"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--button area-->
                        <div class="row">
                            <div class="container-fluid">
                                <div class="col-sm-6 text-center">
                                    <button class="btn btn-danger" id="reset" type="reset"><span
                                            class="glyphicon glyphicon-remove"></span>&nbsp;Cancel
                                    </button>
                                </div>
                                <div class="col-sm-6 text-center">
                                    <button class="btn btn-success" id="btnSubmitInvoice" type="submit"><span
                                            class="glyphicon glyphicon-print "></span>&nbsp;
                                        &nbsp;Print
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <input type="hidden" th:value="${customerUrl}" id="customerUrl">
        </div>
    </div>
</div>
<footer class="page-footer" th:replace="fragments/footer"></footer>
<script th:replace="fragments/script"></script>
<!-- Invoice table -->
<script th:src="@{/js/invoice.js}"></script>

</body>
</html>