<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Premasiri Brothers</title>
    <style th:replace="fragments/style"></style>
</head>
<body>
<nav class="navbar navbar-default" style="margin-bottom: 60px" th:replace="fragments/header :: header"></nav>
<div class="container-fluid" style="margin-top: 60px">
    <div class="panel panel-info">
        <div class="panel panel-heading text-center">
            <h3><span th:text="${{date}}"></span>&nbsp;Purchase Orders Summary</h3>
        </div>
        <div class="container text-center">
            <div class="panel panel-body">
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#dateFilter">Click Here For Date Filters</button>
                <div id="dateFilter" class="collapse">
                    <div class="container-fluid"
                         th:if="${#authorization.expression('hasRole(''ROLE_MANAGER'')')|| #authorization.expression('hasRole(''ROLE_PHARMACIST'')')}">
                        <div class="row">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="container-fluid text-center">
                                        <h4 class="text-info"><b> Custom Search</b></h4>
                                        <form class="form-inline" th:object="${dateObject}"
                                              th:action="@{/itemReport/POrange}" th:method="POST">
                                            <div class="form-group">
                                                <label for="startDate">FROM :</label>
                                                <input class="form-control" id="startDate" name="startDate"
                                                       th:field="*{startDate}" type="date"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="endDate">TO :</label>
                                                <input class="form-control" id="endDate" name="endDate"
                                                       th:field="*{endDate}" type="date"/>
                                            </div>
                                            <button class="btn btn-success" id="btnSummaryFind" type="submit"><span
                                                    class="glyphicon glyphicon-search"></span>&nbsp;Search
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid"
                     th:if="${#authorization.expression('hasRole(''ROLE_MANAGER'')')|| #authorization.expression('hasRole(''ROLE_PHARMACIST'')')}">
                    <div class="row" id="summary">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="container-fluid">
                                    <div class="col-sm-6"><h4> Date : <span th:text="${{date}}"></span></h4></div>
                                    <div class="col-sm-6"><h4> User : <span th:text="${user}"></span></h4></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-offset-2 col-sm-8">
                                    <div class="table-responsive">
                                        <table class="table  table-striped table-condensed table-bordered">
                                            <caption class="text-center text-primary"><b><i><span
                                                    th:text="${givenDate}"></span>&nbsp;
                                                CREATED PURCHASE ORDERS REPORT</i></b></caption>
                                            <thead>
                                            <tr>
                                                <th>Index</th>
                                                <th>Code</th>
                                                <th>Supplier Name</th>
                                                <th>Expected Date</th>
                                                <th>PO Status</th>
                                                <th>Total Price</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="purchaseOrder, rowCount : ${purchaseOrders}">
                                                <th th:text="${rowCount.count}"></th>
                                                <th th:text="${purchaseOrder.code}"></th>
                                                <th th:text="${purchaseOrder.supplier.name}"></th>
                                                <th th:text="${purchaseOrder.expectedDate}"></th>
                                                <th th:text="${purchaseOrder.purchaseOrderStatus.purchaseOrderStatus}"></th>
                                                <th th:text="${purchaseOrder.total}"></th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container-fluid" >
                            <button class="btn btn-success" onclick="printContent('summary')"><span
                                    class="glyphicon glyphicon-print"></span>&nbsp;Print
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="page-footer" th:replace="fragments/footer"></footer>
<script th:replace="fragments/script"></script>
</body>
</html>